*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

:root {
    --primary-color: #00E0C6;
    --secondary-color: #2A3950;
}

.main-section {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.3fr;
}

.content-container, .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 10px;
}

.content-container {
    color: white;
    background-image: linear-gradient(rgba(4, 158, 158, 0.541), #000000b9 80%), url('../imagens/pexels-stijn-dijkstra-3265460.jpg');
    background-position: center;
    background-size: cover;
    /* background: linear-gradient( #009393, #016171); */
}

.content-container h2 {
    font-size: 35px;
    font-weight: 300;
    max-width: 280px;
    text-align: center;
}

.content-container .svg-container {
    width: min(100%, 240px);
}

.svg-container img {
    width: 100%;
    max-width: 100%;
}

.content-container p {
    color: white;
    font-size: 17px;
    margin-top: 80px;
}

.content-container p > a {
    font-weight: 300;
    color: white;
    text-decoration: none;
}

.content-container p > a:hover {
    border-bottom: 1px solid var(--primary-color);
}

.form-container {
    background: linear-gradient(45deg, #212E3F 60%, #384A62);
}

.content-container{
    flex-flow: column;
}

.form-container .arrow{
    display: none;
    font-size: 35px;
    color: white;
}

.form-container form{
    width: min(100%, 450px);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: white;
}

.form-container form h2{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-container form h2 span {
    font-weight: normal;
}

.form-container .input-container{
    width: 100%;
    margin-bottom: 30px;
}

.form-container .input-container label {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 5px;
    display: inline-block;
    text-transform: uppercase;
}

.input-container label.checkbox-label {
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}

.input-container label.checkbox-label span{
    padding-bottom: 2px;
    display: inline-block;
    border-bottom: 1px solid var(--primary-color);
}

.input-container input[type="text"],
.input-container input[type="password"] {
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
    border-bottom: 1px solid white;
}

.input-container input[type="text"]:focus,
.input-container input[type="password"]:focus {
    outline: none;
    border-bottom: 1px solid var(--primary-color);
}

.input-container a{
    text-decoration: none;
    font-size: 14px;
    color: rgb(126, 126, 126);
    margin-top: 5px;
    display: inline-block;
}

.input-container a:hover{
    text-decoration: underline;
    color:  rgb(192, 192, 192);
}

.input-container input::placeholder{
    color: rgb(192, 192, 192);
}

.input-container button {
    width: 50%;
    height: 45px;
    background-color: var(--primary-color);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: all 200ms ease;
}

.input-container button:hover {
    transform: scale(1.03);
    background-color: #02ac98;
}

@media screen and (max-width: 768px) {
    .main-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .content-container, .form-container {
        width: 100%;
        min-height: 100vh;
    }

    .form-container {
        grid-row: 1;
    }

    .form-container .arrow {
        display: block;
    }
}